.divcontrol {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    width: 70%;
    height: 75px;
    border-radius: 10px;
}
.divcontrol button {
    width: 40%;
    height: 50px;
}