.divdisplay {
    width: 100%;
    height: 150px;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.divprogress {
    height: 5px;
    width: 100%;
    background-color: darkcyan;
    transition: width 1s linear;
    align-self: flex-start;
}