.divmain {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    padding: 15px;
    align-items: center;
}
.divsettings {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    height: 40%;
}
.divsettings div:nth-child(2) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 30%;
}
.divsettings div:first-child {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
}
.divsettings div:first-child label {
    margin-right: 10px;
}
.btnstart {
    width: 75px;
    height: 50px;
}